spring:
  profiles:
    active: dev
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 20MB
server:
  port: 8080
jwt:
  secret: ${JWT_SECRET_KEY}
payment-network:
  base-url: http://localhost:8079/
  endpoint: /api/v1/card-payments/authorizations
bank:
  card:
    bin: 777700