spring:
  profiles:
    active: dev
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 20MB
server:
  port: 8080
jwt:
  secret: ${JWT_SECRET_KEY}
bank:
  account:
    bin: ES003199
  card:
    bin: 777700