app:
  frontend:
    host: "localhost"
    port: 8081
spring:
  rabbitmq:
    host: ${RABBIT_HOST:localhost}
    port: ${RABBIT_PORT:5672}
    username: ${RABBIT_USER}
    password: ${RABBIT_PASS}
  datasource:
    url: jdbc:postgresql://localhost:5441/postgres
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
        format_sql: true
  output:
    ansi:
      enabled: ALWAYS
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true
  mail:
    host: localhost
    port: 1025
    username:
    password:
    properties:
      mail.smtp.auth: false
      mail.smtp.starttls.enable: false
logging:
  level:
    root: INFO
    com.damian.xBank: DEBUG
    org.hibernate.orm.jdbc.bind: INFO
    org.hibernate.SQL: INFO
    org.hibernate.type.descriptor.sql: TRACE
payment-network:
  base-url: http://localhost:8079/
  endpoint: /api/v1/card-payments/authorizations
